body{
    background: url('/pics/writer.jpg'),#025eb5;
    background-repeat: no-repeat,repeat-y;
    background-size: 100% 100vh,100% 100vh;
    background-position: 0 0 , 0 100vh;
}
nav{

    background: #02072dcc;
}
#blog{
    min-height: 80vh;
    margin: 0;
    padding: 2%;
    background: #02072dcc;
}
#blog p{
    padding: 5px;
    padding-left: 8px;
    border-radius: .5em;
    background: white;
    color: #02072dcc;
}
#blog .card{
    --bs-card-bg:none;
}
.article_blog{
    display: flex;
    margin: auto;
    background: #02072d;
    color: white;
}
@media screen and (max-width:997px) {
    .article_blog{
        min-width: 100%;
        display: flex;
        margin: auto !important;
        background: #02072d;
        color: white;
    }
}
