footer{
    margin-top: 15vh;
    background: #02072dcc;
    padding:5%;
}
footer li{
    color:white;
}
footer li a{
    color:#1fb1f299;
}
footer li a:hover{
    color:#1fb1f2;
}
.rows{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.rows > *{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
}
.rows p{
    display: block;
    width: 100%;
    text-align: center;
}