body{
    background: url('/pics/prog.jpg'),#02072d;
    background-repeat: no-repeat,repeat-y;
    background-size: 100% 100vh,100% 100vh;
    background-position: 0 0 , 0 100vh;
}
nav{
    background: #02072ddd;
    /* color: #333b; */
}
nav *{
    border-color: #333b;
}
nav .list >*{
    border-color: #333b;
}
nav .list >*:hover{
    border-color: #333b;
    color: #025eb5;
}