#contactmessage{
    margin-top: 5%;
}
#contactmessage form{
    display: flex;
    flex-direction: column;
    color: #fff;
}
#contactmessage form .field{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
#contactmessage form .field > *{
    padding:3px;
    margin:3px;
}

@media screen and (max-width:997px) {
    #contactmessage form .field{
        grid-template-columns: 4fr;
    }   
}
