body{
    background: url('/pics/prog.jpg'),#02072d;
    background-repeat: no-repeat,repeat-y;
    background-size: 100% 90vh,100% 100vh;
    background-position: 0 0 , 0 90vh;
}
nav{
    background: #02072ddd;
    /* color: #333b; */
}
nav *{
    border-color: #333b;
}
nav .list >*{
    border-color: #333b;
}
nav .list >*:hover{
    border-color: #333b;
    color: #025eb5;
}
.corps{
    background: white;
    background: #365d7e;
    margin-top: 68vh;
}
#contact{
    border-radius: 1.25em;
    background: #02072ddd;
    margin: 0;
    /* margin-top: 10; */
    padding: 5%;
    padding-top: 2.5%;
    margin-bottom: .5%;
}
@media screen and (max-width:997px) {
    body{
        background: url('/pics/prog.jpg'),#02072d;
        background-repeat: no-repeat,repeat-y;
        background-size: 100% 80vh,100% 100vh;
        background-position: 0 0 , 0 80vh;
    }
    .corps{
        background: #02072d;
        padding-top: 5%;
        margin-top: 38vh;
    }

}
