#shortabout{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
    margin-left: 0;
    height: 70vh;
}
#shortabout *{
    margin: auto;
}
#shortabout h2{
    margin-bottom: 0;
}
#shortabout p{
    color: #fff;
    text-align: center;
    margin-top: 0;
}
#toolsandlanguages{
    background: #2d324f;
    padding: 5%;
    border-radius: 5em;
}
.tools-and-tech {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tool-and-tech {
    font-weight: bolder;
    text-align: center;
    width: 8%;
    font-size: 1.05em;
    margin: 2%;
    display: flex;
    flex-direction: column;
    color: white;
}
.tool-and-tech a{
    border-radius: 2.5em;
    display: flex;
    width: 100%;
    height: 100%;
    background: white;
    padding: 2%;
}
.tool-and-tech img {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
}
#shortabout img{
    width: 75%;
    height: 50%;
    margin-top: 0;
    margin-bottom: 0;
}   
#servicesbox{
    display: grid;
    grid-template-columns: 2fr 4fr;
    padding: 5%;
    grid-gap:2.5%;
}
#actionsservices form {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 2%;
}
#actionsservices form .field {
    display: flex;
    flex-direction: column;
}
#actionsservices form .field > *{
    padding: 2%;
}
#actionsservices form .field label{
    padding-left: 0;
    padding-top: 1%;
}
@media screen and (max-width:997px) {
    #shortabout{
        background: #2d324f;
        margin: auto;
        width: 100%;
        height: auto;
    }
    #shortabout img{
        width: 80%;
        height:35vh;
    }
    #shortabout p{
        font-size: .9em;
    }
    .tool-and-tech {
        font-weight: bolder;
        text-align: center;
        width: 23%;
        font-size: .8em;
        margin: 2%;
        display: flex;
        flex-direction: column;
        color: white;
    }
    #actionsservices {
        font-size: .9em;
        margin: 0;
        margin-right: 0px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        background: #fff;
        padding: 2%;
        border-radius: 1.5em;
    }
    #actionsservices > *{
        background-color: #2d324f;
        padding: 4%;
        padding-top: 5%;
        padding-bottom: 5%;
        border-radius: .5em;
    }
    #servicesbox{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
}
