nav{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-left: 5%;
    padding-right: 5%;
    position: sticky;
    top: 0;
    color: #fff;
    background: #02072d88;
    box-shadow:  .05em .05em .05em .15em #fff3;
}
nav > *{
    padding-bottom: 3%;
    box-shadow:  .0 .05em   #fff;
}
nav #headline{
    display: grid;
    font-size: 1.3em;
    font-weight: bolder;
    padding: .5%;
}
nav #headline h4{
    font-size: .89em;
}
nav .list{
    display: flex;
    justify-content: space-around;
    padding: .5%;
    background: #02072daa;
}
nav .list > *{
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav .list > *:hover{
    font-weight:bold;
    text-decoration: dashed;
    color:#fff;
    transition: .5s;
    border-bottom:2px solid #ddd;
}
header{
    background-attachment: fixed;
    min-height: 100vh;
}
#showhide{
    display: none;
    position: absolute;
    cursor: pointer;
}
#showhide:hover{
    color:#3bb;
}
#mobilenav{
  display: none;
}
@media screen and (max-width:997px) {
    nav{
        display: flex;
        /* flex-direction: column-reverse; */
        /* position: relative; */
    }        
    nav .list{
        display: none;
    }
    #showhide{
        display: flex;
        top:5%;
        right:5%;
        padding: 0;
        margin: 0;
    }
    #showhide .la{
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        display: flex;
    }
    #mobilenav{
      display: flex !important;
      position: relative;
    }
    #mobilenav .list.visible{
      display: flex;
      margin-left:-5%;
      margin-right:-5%;
      right: 0;
      padding: 5%;
      padding-top:0;
      position: fixed;
      flex-direction: column;
    }
}
