nav{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
nav #headline{
    padding: .5%;
}
nav .list{
    display: flex;
    justify-content: space-around;
    padding: .5%;
}
nav .list > *{
    display: flex;
    flex-direction: column;
    justify-content: center;
}